.hamburger-menu .icon {
  display: none;
}

@media (max-width: 335px) {

.hamburger-menu {

  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  transform: translateX(calc(100% - 40px));
}

.hamburger-menu.-active{
  transform: translateX(0);
}

.hamburger-menu .icon {
  width: 40px;
  height: 40px;
  display: none;
}

.hamburger-menu .icon.-active {
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
}

.hamburger-menu .actions {
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  padding: 8px 0 8px 20px;
}

.hamburger-menu .action {
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-right: 60px;
}






}
