header {
  background-color: #e24647;
  color: #FFF;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-size: 40px;
  font-family: Arial, 'Roboto', sans-serif;
  float: left;
}

nav {
  font-size: 21px;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  float: right;
}


a {
  margin-left: 60px;
  text-decoration: none;
  color: inherit;
}

.btn {
  font-family: Arial;
  width: 199px;
  height: 60px;
  background-color: #252c41;
  color: #fff;
  border: none;
  font-size: 20px;
  outline: none;
}