.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header > .aboutLink {
  margin-left: auto;
  margin-right: 10px;
}

.header > .menu-game {
  width: 25px;
}
