.card {
  padding: 15px;
}

.hashtag {
  display: grid;
  height: 100%;
  background: var(--color-third);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 3px;
  row-gap: 3.5px;
}

.hashtag > .item {
  background: var(--color-zero);
  display: flex;
  justify-content: center;
}
